body, html {
    height: 100%;
}


.bg {
    background-image: url("../images/battlebackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h1 {
    font-family: 'Old  School Adventures';
    font-size: 36px;
    float: left;
    margin-left: 10px;
}
#logo {
    display: block;
    margin: 0 auto;
    float: right;
}

.Character , .Enemy {
    display: inline;
    
}

.wrapper {
    margin-left: 20px;
}

#EnemyPick {
    display: inline-block;
}

.DefenderFont {
    float: right;
}

#AttackButton {
    display:block;
    right:0;
    float: right;
}

#GameStats {
    font-family: 'Old  School Adventures';
    background-color: lightgray;
    width: 500px;
    height: 100px;
    border: ridge;
    float: right;
   
}

.AttackBtn {
   margin-left: 30px;
}

@font-face {
    font-family:"Old  School Adventures";
    src: url("../images/Old\ School\ Adventures.ttf") format("truetype");
  }
