body, html {
    height: 100%;
}

.bg {
    background-image: url("../images/battlebackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    display: block;
    margin: 0 auto;
    float: right;
}

.Character , .Enemy {
    display: inline;
    
}

.wrapper {
    margin-left: 20px;
}

#EnemyPick {
    display: inline-block;
}

.DefenderFont {
    float: right;
}

#AttackButton {
    display:block;
    margin-left: 70px; 
}

#GameStats {
    font-family: 'Old  School Adventures';
   
}

@font-face {
    font-family:"Old  School Adventures";
    src: url("../images/Old\ School\ Adventures.ttf") format("truetype");
  }
