body, html {
    height: 100%;
}

.bg {
    background-image: url("../images/battlebackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    display: block;
    margin: 0 auto;
    float: right;
}

.Character {
    display: inline;
    
}

.wrapper {
    margin-left: 20px;
}

#EmemyPick {
    display: inline-block;
}

#DefenderFont {
    float: right;
}

#AttackButton {
    display:block;
    margin-left: 70px; 
}